<section>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Filled Form</h4>
      <p class="card-text" >Dowload the filled form with fake data</p>
      <%= link_to 'Download', pages_download_pdf_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</section>
