footer{
  position: fixed;
  bottom: 0;
  font-size: 3em;
  padding: 20px;
  width: 100%;
  text-align:right;

  a{
    color: rgba(0,0,0,0.5);
    transition: all 1s ease;
    &:hover{
      text-decoration: none;

      i.fa-github{
         color: #000;
      }
      i.fa-product-hunt{
         color: #DA542F;
      }
    }
  }
}
